/*font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*General*/
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  list-style: none;
}

.content {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 15px;
  font-weight: bolder;
}

p {
  font-size: 12px;
  color: #808B96;
}

/* Header*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 32px;
}
/*Booki Logo*/

#logo {
  width: 10%;
} 
#logo img {
  width: 80%;
}

.accommodations-activities {
  display: flex;
  
}

.headernavlink {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headernavlink:hover {
  border-top: 1px solid #0065fc;
}

/*Navigation*/

.fas {
  color: #0065fc;
}

.navigation {
  display: flex;
}

nav a {
  font-size: 14px;
  color: black;
  padding-top: 3px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
  font-style: normal;
}

a:hover {
  text-decoration: #0065fc;
  color: #0065fc;
}

header nav a {
  margin-left: 20px;
}

header nav {
  display: flex;
  align-items: center;
}

.accommodation-activity a {
  display: flex;
  height: 100%;
  width: 100%;
  border-top: 2px solid black;
}
.accommodation-activity a:hover {
  border-top: 3px solid #0065fc;
}

.headersignup {
  color: #0065fc;
  font-weight: bold;
  margin-right: 10px;
}

/*main title*/

.header_2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.main_title {
  display: flex;
  flex-direction: column;
}

.title_find {
  margin-bottom: 13px;
}

/*research bar*/

.gps-logo {
  position: relative;
  width: 35px;
  height: 40px;
  background-color: #f2f2f2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.fa-map-marker-alt {
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#research-section {
  display: flex;
  height: 40px;
  width: 100px;
  margin-top: 15px;
}

.research-bar {
  display: flex;
  justify-content: flex-start;
}
.type-research {
  width: 175px;
  padding: 10px;
}
.to-research {
  background-color: #0065fc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 130px;
  height: 40px;
  border: none;
  color: white;
  outline: none;
  font-weight: bold;
}

.to-research_magnifying {
  display: none;
}

/*Filters*/

#section-filters {
  display: flex;
  align-items: center;
  margin: 32px 0px 41px 0px;
}

.button-filter {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 25px;
  flex-wrap: wrap;
}

.circle-icon-filter {
  width: 50px;
  height: 50px;
  background-color: #deebff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2px;
  left: 1px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
}

.filters p {
  height: 50px;
  display: flex;
  align-items: center;
  border: 2px solid #d9d9d9;
  padding: 0px 25px 0px 65px;
  border-radius: 25px;
  font-weight: bold;
}

.title_filters p {
  font-weight: bold;
}

.fa-money-bill-wave,
.fa-male,
.fa-heart,
.fa-dog {
  color: #0065fc;
  font-size: 24px;
}


.button-filter p:hover{
  color: #0065fc;
}

.accommodation_title h3 {
  font-size: 16px;
  
}

.fas.fa-info-circle {
  color: #0065fc;
}
.number_accommodations {
  margin: 0px 0px 35px 10px;
  color: #808B96;
  font-size: 15px;
  font-weight: 500;
}

/*Accommodation in Marseille*/

#accommodations {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
#accommodations_in_marseille {
  background-color: #f2f2f2;
  width: 90%;
  border-radius: 20px;
  padding: 20px 10px;
  
}

.accommodations_title_in_marseille {
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
}

.content_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box_card {
  border: 4px solid white;
  border-radius: 20px;
  background-color: white;
  width: 250px;
  height: 190px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-around;
}

.photo_accommodation {
  object-fit: cover;
  width: 100%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.content_accommodation {
  height: 40%;
  padding-top: 8px;
  padding-left: 8px;
  box-shadow: 1px 1px 5px gray;
  border-radius: 0 0 20px 20px;
}

.h3_content_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content_price {
  font-size: 14px;
  padding-bottom: 1px;
}

.accommodation_rating {
  font-size: 12px;
  padding-bottom: 5px;
  padding-top: 8px;
}

.fas.fa-star.grey-star {
  color: grey;
}

.accommodation_display_more {
  position: relative;
  top: 5px;
  margin: -10px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}

/*the most popular*/

#popular_accommadations_contents {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  font-size: 10px;
  
}
.title_the_most_popular {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  
}
.vignettes_the_most_popular {
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
}
.fa-chart-line {
  color: black;
  justify-content: flex-end;
  font-size: 18px;
  padding-left: 70px;
}
.popular_title {
  display: flex;
  justify-content: flex-end;
}

.box_popular_card {
  border: 4px solid white;
  border-radius: 20px;
  display: flex;
  background-color: white;
  height: 140px;
  margin-bottom: 30px;
}

.photo_popular {
  width: 40%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.popular_accommodation_content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  font-size: 16px;
}
.popular_title_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}

.popular_title_content h3 {
  font-weight: bold;
  font-size: 16px;
}

.popular_price_content {
  padding-top: 6px;
  font-size: 14px;
}

.popular_accommodation_rating {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 12px;
}

/*Activities in Marseille*/

#activities_in_Marseille {
  font-size: 10px;
  margin-top: 60px;
  margin-bottom: 80px;
  height: 450px;
}

.activities {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 90%;
}

.activity1,
.activity4,
.activities2et3,
.activities5et6 {
  width: 24%;
  
}

.activity1,
.activity4 {
  height: 100%;
}

.activities2et3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.activity2,
.activity3 {
  height: 40%;
}
.activities5et6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.activity5 {
  height: 45%;
}
.activity6 {
  height: 45%;
}

.photo_activity1 {
  height: 90%;
  overflow: hidden;
}

.photo_activity01 {
  width: 100%;
  height: 120%;
  object-fit: cover;
}

.photo_activity__container{
  border-radius: 20px 20px 0 0;
  box-shadow: 1px 1px 5px gray;
}

.title_activity {
  padding: 13px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 0 0 20px 20px;
  box-shadow: 1px 1px 5px gray;
}
.photo_activity2 {
  height: 100%;
  overflow: hidden;
  padding-bottom: 15px;
}
.photo_activity02 {
  height: 120%;
  width: 100%;
  object-fit: cover;
}

.photo_activity3 {
  height: 75%;
  overflow: hidden;
}
.photo_activity03 {
  height: 140%;
  width: 100%;
  object-fit: cover;
}

.photo_activity4 {
  height: 90%;
  overflow: hidden;
}
.photo_activity04 {
  height: 100%;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.photo_activity5 {
  width: 100%;
  height: 90%;
  overflow: hidden;
}
.photo_activity05 {
  height: 100%;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.photo_activity6 {
  height: 78%;
  overflow: hidden;
}
.photo_activity06 {
  height: 100%;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}


/*Footer*/

.footer {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  padding: 32px;
}

.title_apropos {
  padding-bottom: 22px;
  font-weight: bold;
  font-size: 16px;
}

.a_propos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title_noshebergements {
  margin-bottom: 22px;
  font-weight: bold;
  font-size: 16px;
}

.nos_hebergements {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title_assistance {
  padding-bottom: 22px;
  font-weight: bold;
  font-size: 16px;
}

.assistance {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer ul li {
  padding: 5px;
  color: #808B96;
}

/*Responsive*/
/*tablet*/
/* jusqu'à 992px*/
@media (max-width: 992px)  {
  .content {
    background-color: white;
    display: flex;
    flex-wrap: column-reverse;
  }
  .main {
    width: 80%;
  }
  #accommodations {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    
  }
  #accommodations_in_marseille {
  width: 100%;
}
  #popular_accommadations_contents {
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .box_popular_card {
    width: 100%;
  }

  #activities_in_Marseille {
    height: auto;
  }

  .activities {

    flex-wrap: wrap;
    padding: 0 20px;
    gap: 16px;
  }
  .activity1,
  .activity4,
  .activities2et3,
  .activities5et6 {
    width: 48%;
    height: 375px;
  }
  .filters {
    gap: 16px;
  }

  /*smartphones*/
  @media (max-width: 768px) {
    header{
      padding:0;
    }
    header nav{
      width: 100%;
    }

    .headernavlink{
      text-align: center;
    }

    .headernavlink:hover{
      color: #0065fc;
      border-bottom: 3px #0065fc solid;
      border-top: transparent;
    }

    #logo{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    #logo img{
      object-fit: cover;
      width: 60%;
    }

    .content {
      padding: 0;
    }

    .header_2,
    .section-filters,
    .title_filters,
    .number_accommodations,
    #popular_accommadations_contents{
      padding: 0’;
    }

    #popular_accommadations_contents{
      border-radius: 0;
    }
    .accommodations-activities{
      width: 100%;
      display: flex;
      
    }
    .accommodations-activities a{
      margin: 0;
      width: 100%;
    }

    #section-filters {
      flex-direction: column;
      gap:16px;
    } 
    header {
      flex-direction: column;
    }
    .title_filters {
      align-self: flex-start;
    }
    .filters {
      gap: 16px;
    }

    #accommodations {
      flex-wrap: wrap;
    }
    #accommodations_in_marseille {
      width: 100%;
      background-color: transparent;
    }
    #popular_accommadations_contents {
      width: 100%;
    }
    .vignettes_the_most_popular{
      padding: 16px 12px’;
    }
    .box_card {
      border-radius: 4px;
    }
    .box_popular_card {
      width: auto;
    }
    #activities_in_Marseille {
      height: auto;
    }
  
    .activities {
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
    }
    .title_activities {
      padding-left: 25px;
    }
    .accommodation_display_more {
      Margin: -10px -10px -10px 17px;
    }
    .title_activities h1 {
      font-size: 20px;
      font-weight: bold;
      margin-left: 8px;
      margin-bottom: 20px;
    }
    .title_activity h2 {
      font-size: 15px;
    }
    .activity1,
    .activity4 {
      width: 100%;
      margin-top: 0;
    }
  
    .activities2et3,
    .activities5et6 {
      gap: 30px;
      width: 100%;
      height: 200%;
    }

    .activity1, 
    .activity2,
    .activity3,
    .activity4, 
    .activity5,
    .activity6 {
      height: 320px;
      margin: 0;
    }
    
    .photo_activity__container{
      height: 75%;
      border-radius: 20px 20px 0 0;
      box-shadow: 1px 1px 5px gray;
    } 

    .title_activity{
      display: flex;
      align-items: center;
      height: 25%;
      font-size: 16px;
      padding-left: 32px;
      border-radius: 0 0 20px 20px;
    }

  .activities {
    width: 100%;
  }
  .content_item {
    width: 100%;
    
  }
  .content_item a {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .content_item a .box_card{
    width: 100%;
    height: 290px;
  }
  .box_card h3,
  .accommodation_rating{
    font-size: 15px;
  }
  .box_card p{
    font-size: 12px;
  }
  .footer {
    flex-direction: column;
  }
  .footer h2{
    gap: 20px;
    font-weight: bold;
  }
  .footer ul {
    margin-bottom: 16px;
    
  }
  .footer ul li {
    padding: 5px;
  }

  }
}